@{
    ViewData["Title"] = "Home Page";
}
<!--Home page on load-->
@model Assignment5.Models.ViewModels.BookListViewModel

<header>
    <h1 class="display-4">Bookstore Database</h1>
</header>
<!--displaying each data set-->
@foreach (var x in Model.Books)
{ 
    <partial name="BookSummary" model="x" />
} 

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
    page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-category="@Model.Type"
     class="btn-group pull-right m-1">
</div>